<HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
	@if (remainingPoints is null)
	{
		<HxPlaceholder Columns="2" />
	}
	else
	{
		if (remainingPoints.Value > 0)
		{
			<p>Máš ještě <strong>@remainingPoints bodů</strong> k přidělení.</p>
		}
		else
		{
			<p>Všechny body jsi již rozdal.</p>
		}
	}

	<HxCard>
		<HeaderTemplate>
			My Entries
		</HeaderTemplate>
		<BodyTemplate>
			@if (entries is not null)
			{
				<HxRepeater Data="entries" Context="entry">
					<HeaderTemplate>
						@if (remainingPoints.Value > 0)
						{
							<EntryCard Entry="newEntry" OnEntryCreated="HandleEntryCreated" />
						}
					</HeaderTemplate>
					<ItemTemplate>
						<EntryCard Entry="entry" OnEntryDeleted="HandleEntryDeleted" />
					</ItemTemplate>
				</HxRepeater>
			}
			else
			{
				@* TODO *@
			}
		</BodyTemplate>
	</HxCard>
</HxPlaceholderContainer>
