@page "/development"
@inject Havit.Bonusario.Web.Client.DataStores.IEmployeesDataStore EmployeesDataStore

<div class="row row-cols-2 row-cols-lg-5 g-3 mt-4">
	<div class="col">
		<NavPanel Title="Development" Icon="BootstrapIcon.FileCode">
			<NavCard Href="#" Title="TODO" />
		</NavPanel>
	</div>
</div>

<EmployeePicker @bind-Value="id" />

@code {
	private int? id = 1;

	protected override async Task OnInitializedAsync()
	{
		await EmployeesDataStore.EnsureDataAsync();
	}
}