@page "/"
@namespace Havit.Bonusario.Web.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<app>
	<div class="d-flex align-items-center justify-content-center flex-grow-1 min-vh-100">
		<div class="spinner-border text-white" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</app>
