#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

:root {
  --bs-body-bg: white;
  --hx-sidebar-brand-logo-background-color: var(--bs-yellow);
  --hx-sidebar-brand-logo-color: var(--bs-dark);
  --hx-sidebar-brand-logo-height: 2rem;
  --hx-sidebar-brand-logo-width: 2rem;
  --hx-sidebar-brand-logo-border-radius: 50%;
}

.logo-text {
  font-size: 1.25rem;
}

.logo {
  border: 2px solid var(--bs-dark);
}