#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

:root {
  --bs-body-bg: white;
  --hx-sidebar-brand-shortname-background-color: var(--bs-yellow);
  --hx-sidebar-brand-shortname-border-radius: 50%;
  --hx-sidebar-brand-shortname-color: var(--bs-dark);
  --hx-sidebar-brand-shortname-width: 2rem;
  --hx-sidebar-brand-shortname-height: 2rem;
}

.logo-text {
  font-size: 1.25rem;
}

.hx-sidebar-brand-shortname {
  border: 2px solid var(--bs-dark);
}

/* Custom scrollbars */

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        background-color: transparent;
        width: .25rem;
    }

    .overflow-auto::-webkit-scrollbar,
    .overflow-auto *::-webkit-scrollbar {
        width: .25rem !important;
    }

    .overflow-auto::-webkit-scrollbar-thumb,
    .overflow-auto *::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray-500);
    }

    .overflow-auto:hover::-webkit-scrollbar-thumb,
    .overflow-auto:hover *::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray-500);
    }

    ::-webkit-scrollbar:horizontal {
        height: .25rem;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray-300);
        border-radius: 5px;
    }
}
