@attribute [Route(Routes.AggregateResults)]

<h1>Souhrnné výsledky za čtvrtletí</h1>

@* TODO PeriodSet picker *@

<ResultsTable Aggregate="true" />

<p class="text-muted"><small>(Zatím jsou zde výsledky za všechna uzavřená období, zamýšlen je tento výstup "po čtvrtletích". TODO 😁)</small></p>