@attribute [Route(Routes.AggregateResults)]

<h1>Souhrnné výsledky za čtvrtletí</h1>

<div class="mb-3"><PeriodSetPicker @bind-Value="periodSetId" Nullable="false" /></div>

@if (periodSetId.HasValue)
{
    <AggregateResultsTable PeriodSetId="@periodSetId" />
}
else
{
    <p>Nic tu není.</p>
}