@attribute [Route(Routes.AggregateResults)]

<h1>Souhrnné výsledky za čtvrtletí</h1>

<div class="mb-3"><PeriodSetPicker @bind-Value="periodSetId" Nullable="false" /></div>

@if (periodSetId.HasValue)
{
    <AggregateResultsTable PeriodSetId="@periodSetId" />
}
else
{
    <p>Žádné uzavřené období není evidováno.</p>
}


<p class="text-muted"><small>(Výsledky jsou v tuto chvíli sestaveny z předběžného neuzavřeného finančního výsledku Q4/2021. Foinální čísla se budou ještě lehce měnit. 😇)</small></p>              