@attribute [Route(Routes.SubmissionTable)]

<h1>Hromadné zadávání odměn</h1>

<PeriodPicker Label="Období" @bind-Value="periodId" Nullable="false" Mode="PeriodPicker.DataMode.ActiveForSubmission" CssClass="mb-3" />

@if (periodId is not null)
{
	<EntriesTable PeriodId="periodId.Value" />
}
else if (PeriodsDataStore.IsLoaded)
{
    <p>Žádné období není otevřeno pro zadávání dat.</p>
}
