@attribute [Route(Routes.SubmissionTable)]

@*<div class="mb-3">
	<PeriodPicker @bind-Value="periodId" Nullable="false" />
</div>*@

@if (periodId is not null)
{
	<EntriesTable PeriodId="periodId.Value" />
}