@attribute [Route(Routes.SubmissionTable)]

<h1>Přehled rozdělených odměn v období</h1>

<div class="mb-3"><PeriodPicker @bind-Value="periodId" Nullable="false" Mode="PeriodPicker.DataMode.ActiveForSubmission"  /></div>

@if (periodId is not null)
{
	<EntriesTable PeriodId="periodId.Value" />
}
else
{
    <p>Žádné období není otevřeno pro zadávání dat.</p>
}
