@attribute [Route(Routes.GivenEntries)]

<h1>Vložené záznamy</h1>

<div class="mb-3"><PeriodPicker @bind-Value="periodId" Nullable="false" Mode="PeriodPicker.DataMode.Closed" /></div>

@if (periodId != null)
{
    <HxInputSwitch @bind-Value="displayTable" Label="tabulka" CssClass="mb-3" />
    if (displayTable)
    {
        <ReadOnlyEntriesTable ReceivedEntries="false" PeriodId="@periodId" />
    }
    else
    {
        <ReadOnlyEntriesFeed ReceivedEntries="false" PeriodId="@periodId" />
    }
}
else if (PeriodsDataStore.IsLoaded)
{
    <p>Žádné uzavřené období není evidováno.</p>
}
