@attribute [Route(Routes.Home)]

<h1>Průběžný feed</h1>

<PeriodPicker Label="Období" @bind-Value="periodId" Nullable="false" Mode="PeriodPicker.DataMode.ActiveForSubmission" CssClass="mb-3" />

@if (periodId.HasValue)
{
	<MyEntriesFeed PeriodId="@periodId" />
}
else
{
    <p>Žádné období není otevřeno pro zadávání dat.</p>
}
