@attribute [Route(Routes.Home)]

<h1>Průběžný feed</h1>

<div class="mb-3"><PeriodPicker @bind-Value="periodId" Nullable="false" Mode="PeriodPicker.DataMode.ActiveForSubmission" /></div>

@if (periodId.HasValue)
{
	<MyEntriesFeed PeriodId="@periodId" />
}
else
{
    <p>Žádné období není otevřeno pro zadávání dat.</p>
}
