@attribute [Route(Routes.ReceivedEntries)]

<h1>Obdržené záznamy</h1>

<div class="mb-3"><PeriodPicker @bind-Value="periodId" Nullable="false" Mode="PeriodPicker.DataMode.Closed" /></div>

@if (periodId != null)
{
    <h2>Moje</h2>
    <HxInputSwitch @bind-Value="displayTableMyEntries" Label="tabulka" CssClass="mb-3" />
    if (displayTableMyEntries)
    {
        <ReadOnlyEntriesTable ReceivedEntries="true" PeriodId="@periodId" />
    }
    else
    {
        <ReadOnlyEntriesFeed ReceivedEntries="true" PeriodId="@periodId" />
    }

    <h2>Ostatní</h2>
    <HxInputSwitch @bind-Value="displayTablePublicEntries" Label="tabulka" CssClass="mb-3" />
    if (displayTablePublicEntries)
    {
        <ReadOnlyEntriesTable PublicEntries="true" ReceivedEntries="true" PeriodId="@periodId" />
    }
    else
    {
        <ReadOnlyEntriesFeed PublicEntries="true" ReceivedEntries="true" PeriodId="@periodId" />
    }
}
else if (PeriodsDataStore.IsLoaded)
{
    <p>Žádné uzavřené období není evidováno.</p>
}
