@attribute [Route(Routes.ReceivedEntries)]

<h1>Obdržené záznamy</h1>

<div class="mb-3"><PeriodPicker @bind-Value="periodId" Nullable="false"  Mode="PeriodPicker.DataMode.Closed"  /></div>

@if (periodId != null)
{
    <ReceivedEntriesFeed PeriodId="@periodId" />
}
else if (PeriodsDataStore.IsLoaded)
{
    <p>Žádné uzavřené období není evidováno.</p>
}
