@attribute [Route(Routes.Results)]

<h1>Výsledky</h1>

<div class="mb-3"><PeriodPicker @bind-Value="periodId" Nullable="false" /></div>

@if (periodId.HasValue)
{
	<ResultsTable PeriodId="@periodId" />
}
