::deep .entry-visibility-dropdown-toggle-content {
    color: var(--bs-gray-600);
    cursor: pointer;
}

.readonly ::deep .entry-visibility-dropdown-toggle-content {
    cursor: default;
}

::deep .entry-visibility-icon {
    width: 2rem;
    height: 2rem;
}

::deep .dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
