<div class="col-lg-6 mb-4">
	<HxCard>
		<BodyTemplate>
			<div class="mb-2">
				<HxPlaceholder Columns="2" />
			</div>

			<div class="mb-2">
				<HxPlaceholder Columns="12" />
				<HxPlaceholder Columns="12" />
				<HxPlaceholder Columns="12" />
			</div>

			<HxPlaceholder Columns="4" />

		</BodyTemplate>
	</HxCard>
</div>
