.active ::deep .card {
    box-shadow: rgb(0 157 224 / 25%) 0px 0px 0px 0.25rem;
    border-color: var(--bs-primary);
}

.entry-card {
    --hx-form-spacing: 0;
}

::deep .no-right-round-corners {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
