@if (employeeData is not null)
{
    @foreach (var employee in employeeData)
    {
        int pointsGivenToEmployee = employee.Points;

        <div class="@CssClassHelper.Combine("w-100 my-1", pointsGivenToEmployee > 0 ? "fw-bold" : null)">
            @employee.EmployeeDto.Name
            <span class="float-end">@pointsGivenToEmployee</span>
        </div>
    }
}
