@if (employees is not null)
{
    @foreach (var employee in employees)
    {
        int pointsGivenToEmployee = GetPointsGivenToEmployee(employee);

        <div class="@CssClassHelper.Combine("w-100 my-1", pointsGivenToEmployee > 0 ? "fw-bold" : null)">
            @employee.Name
            <span class="float-end">@pointsGivenToEmployee</span>
        </div>
    }
}
