<div class="row mb-4">
		@if (remainingPoints > 0)
		{
			<h2>Přidej odměnu</h2>
			<div id="@entryCardFormWrapperId" class="col-lg-8">
				<EntryCard
					Entry="editedEntry"
					OnEntryCreated="HandleEntryCreated"
					OnEntryDeleted="HandleEntryDeleted" />
			</div>
		}

		@if (remainingPoints is not null)
		{
			<div class="col-lg-4 d-flex align-items-stretch ms-auto">
				<RemainingPoints Points="remainingPoints.Value"/>
			</div>
		}
</div>

@if (entries is not null)
{
	<div class="row">
		<HxRepeater Data="entries" Context="entry">
			<ItemTemplate>
				<div class="col-lg-12 mb-4">
					<ReadonlyEntryCard Entry="entry" OnClick="async () => await EditEntry(entry)" />
				</div>
			</ItemTemplate>
		</HxRepeater>
	</div>
}
else
{
	@* TODO Placeholders *@
}
