<div class="row mb-4">
		@if (remainingPoints > 0)
		{
			<h2>Přidej odměnu</h2>
			<div class="col-lg-8">
				<EntryCard Entry="newEntry" OnEntryCreated="HandleEntryCreated" InitialDefaultAuthorIdentityVisibility="defaultAuthorIdentityVisibility" OnDefaultIdentityVisibilityChanged="SetCurrentEmployeeDefaultIdentityVisibilityAsync" />
			</div>
		}

		@if (remainingPoints is not null)
		{
			<div class="col-lg-4 d-flex align-items-stretch ms-auto">
				<RemainingPoints Points="remainingPoints.Value"/>
			</div>
		}
</div>


<h2>Rozdělené odměny</h2>
@if (entries is not null)
{
	<div class="row">
			<HxRepeater Data="entries" Context="entry">
				<ItemTemplate>
					<div class="col-lg-6 mb-4">
						<EntryCard Entry="entry"
							RecipientLocked="true"
							OnEntryDeleted="HandleEntryDeleted"
							OnEntryUpdated="HandleEntryUpdated" />
					</div>
				</ItemTemplate>
			</HxRepeater>
	</div>
}
else
{
	@* TODO Placeholders *@
}
