<div class="my-entries-feed flex-lg-row">
	<div class="entries">
		<HxTabPanel>
			<HxTab Title="Moje" ContentCssClass="h-100">
				<Content>
					<div class="h-100 d-flex flex-column mt-3">
						@if (remainingPoints > 0)
						{
							<div class="new-entry-form w-100 mb-4">
								<EntryCard
									Entry="newEntry"
									OnEntryCreated="HandleEntryCreated" />
							</div>
						}

						@if (entries is not null)
						{
							<div class="entries-list overflow-auto flex-grow-1 pe-lg-1">
								<HxRepeater Data="entries" Context="entry">
									<ItemTemplate>
										<div class="col-lg-12 mb-4">
											@if (editedEntry?.Id == entry.Id)
											{
												<EntryCard
													Entry="editedEntry"
													OnEntryUpdated="HandleEntryUpdatedOrDeleted"
													OnEntryDeleted="HandleEntryUpdatedOrDeleted"
													OnCloseButtonClicked="CloseEdit" />
											}
											else
											{
												<ReadonlyEntryCard Entry="entry" OnClick="() => EditEntry(entry)" />
											}
										</div>
									</ItemTemplate>
								</HxRepeater>
							</div>
						}
						else
						{
							@* TODO Placeholders *@
						}
					</div>
				</Content>
			</HxTab>
			<HxTab Title="Ostatní" ContentCssClass="h-100">
				<Content>
					<div class="mt-3">
						<ReadOnlyEntriesFeed PublicEntries="true" ReceivedEntries="true" PeriodId="PeriodId" />
					</div>
				</Content>
			</HxTab>
		</HxTabPanel>
	</div>

	<div class="points-summary-table">
		<HxCard>
			<BodyTemplate>
				<h5 class="d-flex justify-content-between">

					Přehled rozdělených odměn

					<HxCollapseToggleElement ElementName="div"
											 CollapseTarget="#employeeCollapse"
											 CssClass="d-inline-flex d-lg-none justify-content-center ms-auto"
											 role="button">
						<HxIcon Icon="@(givenPointsSummaryCollapseExpanded ? BootstrapIcon.ChevronUp : BootstrapIcon.ChevronDown)" />
					</HxCollapseToggleElement>
				</h5>

				@if (remainingPoints is not null)
				{
					<RemainingPoints Points="remainingPoints.Value"/>
				}

				<GivenPointsSummary @ref="givenPointsSummary" PeriodId="PeriodId" OnCollapseStateChanged="HandleGivenPointsSummaryCollapseStateChanged" />
			</BodyTemplate>
		</HxCard>
	</div>
</div>
