<div class="my-entries-feed">
	<div class="entries">
		@if (remainingPoints > 0 || editedEntry.Id != default)
		{
			<div id="@entryCardFormWrapperId" class="w-100 mb-4">
				<EntryCard
					Entry="editedEntry"
					CssClass="@(editedEntry.Id != default ? "active" : null)"
					OnEntryCreated="HandleEntryCreated"
					OnEntryUpdated="HandleEntryUpdated"
					OnEntryDeleted="HandleEntryDeleted" />
			</div>
		}

		@if (entries is not null)
		{
			<HxRepeater Data="entries" Context="entry">
				<ItemTemplate>
					<div class="col-lg-12 mb-4">
						<ReadonlyEntryCard
							CssClass="@(editedEntry.Id == entry.Id ? "active" : null)"
							Entry="entry"
							OnClick="async () => await EditEntry(entry)" />
					</div>
				</ItemTemplate>
			</HxRepeater>
		}
		else
		{
			@* TODO Placeholders *@
		}
	</div>

	<div class="points-summary-table">
		<HxCard>
			<BodyTemplate>
				<h5>Přehled rozdělených odměn</h5>

				@if (remainingPoints is not null)
				{
					<RemainingPoints Points="remainingPoints.Value"/>
				}

				<GivenPointsSummary PeriodId="PeriodId" />
			</BodyTemplate>
		</HxCard>
	</div>
</div>
