.my-entries-feed {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
}

.entries {
    flex: 1 1 0%;
    height: calc(100vh - 9.0625rem);
}

.points-summary-table {
    flex: 0.2 0.5 auto;
}
