<div class="my-entries-feed flex-md-row">
	<div class="entries">
		@if (remainingPoints > 0)
		{
			<div class="w-100 mb-4">
				<EntryCard
					Entry="newEntry"
					OnEntryCreated="HandleEntryCreated" />
			</div>
		}

		@if (entries is not null)
		{
			<HxRepeater Data="entries" Context="entry">
				<ItemTemplate>
					<div class="col-lg-12 mb-4">
						@if (editedEntry?.Id == entry.Id)
						{
							<EntryCard
								Entry="editedEntry"
								OnEntryUpdated="HandleEntryUpdatedOrDeleted"
								OnEntryDeleted="HandleEntryUpdatedOrDeleted"
								OnCloseButtonClicked="CloseEdit" />
						}
						else
						{
							<ReadonlyEntryCard Entry="entry" OnClick="() => EditEntry(entry)" />
						}
					</div>
				</ItemTemplate>
			</HxRepeater>
		}
		else
		{
			@* TODO Placeholders *@
		}
	</div>

	<div class="points-summary-table">
		<HxCard>
			<BodyTemplate>
				<h5 class="d-flex justify-content-between">

					Přehled rozdělených odměn

					<HxCollapseToggleElement ElementName="div"
											 CollapseTarget="#employeeCollapse"
											 CssClass="d-inline-flex d-md-none justify-content-center ms-auto"
											 role="button">
						<HxIcon Icon="@(givenPointsSummaryCollapseExpanded ? BootstrapIcon.ChevronUp : BootstrapIcon.ChevronDown)" />
					</HxCollapseToggleElement>
				</h5>

				@if (remainingPoints is not null)
				{
					<RemainingPoints Points="remainingPoints.Value"/>
				}

				<GivenPointsSummary @ref="givenPointsSummary" PeriodId="PeriodId" OnCollapseStateChanged="HandleGivenPointsSummaryCollapseStateChanged" />
			</BodyTemplate>
		</HxCard>
	</div>
</div>
