<HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
	@if (remainingPoints is null)
	{
		<HxPlaceholder Columns="2" />
	}
	else
	{
		if (remainingPoints.Value > 0)
		{
			<p>Máš ještě <strong>@remainingPoints bodů</strong> k přidělení.</p>
		}
		else
		{
			<p>Všechny body jsi již rozdal.</p>
		}
	}

	<HxCard>
		<HeaderTemplate>
			My Entries
		</HeaderTemplate>
		<BodyTemplate>
			@if (remainingPoints > 0)
			{
				<EntryCard Entry="newEntry" OnEntryCreated="HandleEntryCreated" />
			}
			@if (entries is not null)
			{
				<HxRepeater Data="entries" Context="entry">
					<ItemTemplate>
						<EntryCard Entry="entry"
								   RecipientLocked="true"
								   OnEntryDeleted="HandleEntryDeleted"
								   OnEntryUpdated="HandleEntryUpdated" />
					</ItemTemplate>
				</HxRepeater>
			}
			else
			{
				@* TODO Placeholders *@
			}
		</BodyTemplate>
	</HxCard>
</HxPlaceholderContainer>
