@if ((entries is not null) && (PeriodId is not null))
{
	<div class="row">
		<HxRepeater Data="entries" Context="entry">
			<ItemTemplate>
				<div class="col-lg-12 mb-4">
					<ReadonlyEntryCard Entry="entry" ShowAuthor="ReceivedEntries" ShowVisibility="!PublicEntries" />
				</div>
			</ItemTemplate>
            <EmptyTemplate>
                <p>Žádné záznamy.</p>
            </EmptyTemplate>
		</HxRepeater>
	</div>
}
else
{
	<div class="row">
		<HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
			<EntryPlaceholder />
		</HxPlaceholderContainer>
	</div>
}