::deep .readonly-card-interactive {
    cursor: pointer;
}

::deep .readonly-card-interactive:hover,
.active ::deep .readonly-card-interactive {
    border-color: var(--bs-primary);
}

::deep p {
    margin: 0;
}

::deep .hx-input-tags-control .dropdown {
    display: none;
}

::deep .points {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: var(--bs-warning);
    border-radius: 50%;
    box-shadow: 2px 0px #907E14;
    border: 1px dashed #907E14;
}

::deep .points h5 {
    opacity: 0.5;
    font-weight: bold;
}

::deep .row.expanded {
    height: 50px;
    display: flex;
    align-items: center;
}

::deep h5 {
    margin: 0;
}
